* {
  font: 12px "Microsoft YaHei", "宋体", "Arial Narrow", HELVETICA;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input[type="text"] {
  border: none;
  height: auto;
  line-height: 0;
  padding-left: 0;
  padding-right: 0;
}
h4,
ul,
p {
  margin: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
/*清除文本框后关闭按钮*/
input::-ms-clear {
  display: none;
}
/*清除密码框后有小眼睛图标*/
input::-ms-reveal {
  display: none;
}
/*btn*/
a.ec-btn {
  background: #229be5;
  color: #fff;
  font-size: 12px;
  padding: 0 20px;
  border: 1px solid #229be5;
  border-radius: 2px;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  transition: background .5s, border .4s;
}
a.ec-btn:hover {
  background: #23a5f5;
  border-color: #23a5f5;
  color: #fff;
}
a.ec-btn:active {
  background: #2b92d5;
  border-color: #2b92d5;
  color: #fff;
}
a.ec-btn:focus {
  color: #fff;
}
a.ec-btn.disabled {
  background: #ccc;
  color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
}
a.ec-btn.ec-btn-lg {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
a.ec-btn.ec-btn-cancel {
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #4c4c4c;
}
a.ec-btn.ec-btn-cancel:hover {
  color: #4c4c4c;
  background: #f7f7f7;
  border-color: #d9d9d9;
}
a.ec-btn.ec-btn-cancel:active {
  background: #f0f0f0;
  color: #4c4c4c;
}
a.ec-btn.ec-btn-cancel.disabled {
  background: #fafafa;
  color: #cccccc;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
a.ec-btn.ec-btn-popup {
  border-radius: 0;
  color: #1790db;
  border: 1px dashed #21a0ee;
  height: 26px;
  line-height: 26px;
  padding: 0 16px;
  background: #fff;
}
a.ec-btn.ec-btn-popup:hover {
  color: #40b4ff;
  border-color: #21a0ee;
}
a.ec-btn.ec-btn-popup:active {
  color: #2b93d5;
  border-color: #21a0ee;
}
a.ec-btn.ec-btn-popup.disabled {
  color: #bfbfbf;
  border-color: #959595;
}
.ec-btn-group {
  text-align: center;
}
.ec-btn-group .ec-btn {
  margin-right: 14px;
}
.ec-btn-group .ec-btn:nth-last-child(1) {
  margin-right: 0;
}
/*input*/
input.ec-input {
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 2px;
}
input.ec-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input.ec-input.ec-input-lg {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 22px;
}
input.ec-input.ec-input-xs {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}
input[type='text']:disabled {
  color: #999;
  background: #f8f8f8;
  cursor: not-allowed;
}
/*modal*/
.ec-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  _position: absolute;
  _clear: both;
  /* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); */
}
.ec-modal .ec-popuper {
  position: absolute;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
  z-index: 10;
  left: 50%;
  top: 50%;
}
.ec-modal .ec-popuper h4 {
  position: relative;
  color: #fff;
  padding: 12px 16px;
  background: #229be5;
  border: 1px solid #229be5;
  font-size: 14px;
  line-height: 1.1;
}
.ec-modal .ec-popuper h4 i.ec-close {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  transition: background 0.2s;
}
.ec-modal .ec-popuper h4 i.ec-close:hover {
  background: #3478a2;
}
.ec-modal-container {
  padding: 20px;
  padding-bottom: 0;
  overflow-y: auto;
  min-width: 380px;
  text-align: center;
  min-height: 90px;
}
.ec-modal-container .prompt-content {
  color: #4c4c4c;
  font-size: 14px;
}
.ec-modal-container .prompt-content .prompt-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}
.ec-modal-container .tips-content {
  color: #212121;
  font-size: 12px;
}
.ec-modal-container .tips-content span {
  display: inline-block;
  margin-left: 10px;
}
.ec-modal-body {
  padding: 10px 50px;
}
.ec-modal-footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}
.ec-modal.prompt-modal .ec-popuper {
  width: 326px;
  margin-left: -168px;
}
.ec-modal.tips-modal {
  position: static;
  background: none;
  width: auto;
  height: auto;
}
.ec-modal.tips-modal .ec-popuper {
  box-shadow: 0 0 8px 0 #909090;
  background-color: #fff;
}
.ec-modal-free {
  position: static;
  background: none;
  width: auto;
  height: auto;
}
.ec-tooltip {
  display: inline-block;
  padding: 8px 10px;
  background: #fc453d;
  border: 1px #fc453d solid;
  font-size: 12px;
  color: #ffffff;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.ec-tooltip span img {
  margin-right: 4px;
  vertical-align: middle;
}
.ec-tooltip span i {
  position: absolute;
  background: #fc453d;
  transform: rotate(45deg);
  z-index: 1;
  width: 6px;
  height: 6px;
}
.ec-tooltip .left i {
  bottom: 13px;
  left: -3px;
}
.ec-tooltip .right i {
  bottom: 13px;
  right: -3px;
}
.ec-tooltip .top i {
  top: -3px;
  left: 40px;
}
.ec-tooltip .bottom i {
  bottom: -3px;
  left: 40px;
}
.ec-checkbox {
  cursor: pointer;
  height: 16px;
  display: inline-block;
  color: #4c4c4c;
}
.ec-checkbox a {
  color: #229be5;
}
.ec-checkbox input[type="checkbox"] {
  display: none;
}
.ec-checkbox input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #7aa1bb;
  background-color: #fff;
  margin-right: 4px;
  vertical-align: middle;
}
.ec-checkbox input[type="checkbox"] + span:after {
  transform: rotate(45deg);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all .2s;
}
.ec-checkbox input[type='checkbox']:checked + span:after {
  border-color: #0288d1;
}
.ec-checkbox input[type='checkbox']:disabled + span {
  border: 1px solid #d9d9d9;
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.ec-checkbox input[type='checkbox']:disabled + span:after {
  border-color: transparent;
}
.ec-checkbox.checked span:after {
  border-color: #0288d1 !important;
}
.ec-checkbox.disabled span {
  border: 1px solid #d9d9d9 !important;
  background-color: #f0f0f0 !important;
  cursor: not-allowed !important;
}
.ec-checkbox.disabled span:after {
  border-color: transparent !important;
}
.ec-checkbox.line span {
  border-color: #ccc !important;
}
.ec-checkbox.line span:after {
  transform: rotate(90deg) !important;
  border-color: #ccc !important;
  border-bottom: 0 !important;
}
.ec-checkbox-group .ec-checkbox {
  margin-right: 20px;
}
.ec-checkbox-group .ec-checkbox:nth-last-child(1) {
  margin-right: 0;
}
.ec-radio {
  cursor: pointer;
}
.ec-radio input[type="radio"] {
  display: none;
}
.ec-radio input[type="radio"] + span {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 1px solid #0288d1;
  background-color: #fff;
  margin-right: 4px;
  vertical-align: middle;
}
.ec-radio input[type="radio"] + span:after {
  position: absolute;
  left: 2px;
  top: 2px;
  display: table;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  content: ' ';
  transition: all .2s;
}
.ec-radio input[type='radio']:checked + span:after {
  background-color: #0288d1;
}
.ec-radio input[type='radio']:disabled + span {
  border: 1px solid #d9d9d9;
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.ec-radio input[type='radio']:disabled + span:after {
  border-color: transparent;
}
.ec-radio.checked span:after {
  background-color: #0288d1 !important;
}
.ec-radio.disabled span {
  border: 1px solid #d9d9d9 !important;
  background-color: #f0f0f0 !important;
  cursor: not-allowed !important;
}
.ec-radio.disabled span:after {
  background-color: #f0f0f0 !important;
}
.ec-radio-group .ec-radio {
  margin-right: 20px;
}
.ec-radio-group .ec-radio:nth-last-child(1) {
  margin-right: 0;
}
